body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 255, 255);
 
padding-top: 0%;
}

.note {

column-count: 1; /* Firefox */
width: 80%;
margin-left: 20%;
position: absolute;
overflow-y: hidden;
overflow-x: hidden;
height: 650%;
color: rgb(0, 0, 0);
font-size: 2.8rem;
line-height: 1.5;  

}


@font-face {
font-family: titre;
src: url('CirrusCumulus.ttf');
font-size: 2.8rem;

}

div {
  font-family: titre;
src: url('CirrusCumulus.ttf');
font-size: 2.8rem;

}

.reader {

  column-count: 1; /* Firefox */
  width: 20%; 
margin-left: 0%;
margin-top: 0%;
  position: absolute;
  overflow-y: scroll;
overflow-x: hidden;
  height: 650%;
color: rgb(0, 0, 0);
 font-size: 0.8rem;
 line-height: 1.5;  
 font-family: titre;

}

p {

   color: rgb(0, 0, 0);

    font-size: 1.0rem;; 
  
    line-height: 1.35;
font-family: monospace;
display: block;
width: 20%;  
  

}

.about {


  
    border-style: dotted;
    border-color: black;
    background-color: black;
    margin-left: 1%;
    width: 10%;
    padding: 1%;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: monospace;
  
  

}

h1 {



  font-size: 2.5rem;; 
  line-height: 1.35;
  column-count: 1; /* Firefox */
padding-right: 0%;  background-color: yellow;
width: 30%;
padding-left: 1%;
  box-shadow: rgb(255, 116, 192) 10px 20px 44px 10px;
}

a {
color: black;

}


.mySlides {display: none}
body {
    margin:0%;
    background-color: rgb(255, 255, 255);
}

/* Slideshow container */
.slideshow-container {
  width: 50%;
  position: absolute;
  margin-left: 40%;
  margin-top: 178%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);

  font-size: 30px;
 
}

/* Position the "next button" to the right */
.next {
  right: 0;
}




@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
 

  width: 80%;
  max-width: 700px;

  padding: 10px 0;
  height: 150px;
}



@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}